extends _layout/layout_2

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Khai báo các mixin
block body
	section.first-page
		.container
			.row
				.col-12
					.back-link
						a(href="#") Bán hàng
						a(href="#") Áo cưới
						p 39283
				.col-12
					.name-shop
						h1.pr-2 Rosy
						h3 Bridal & Studio
	section.detail-product
		.container
			.row
				.col-12.col-md-6
					.image-product
						img.img-fluid(src="./img/detail-1.png", alt="")
					.show-more-albums
						h5 Xem thêm:
						.slide-show-more-albums.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.img-fluid(src="./img/detail-2.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-3.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-4.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-2.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-3.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-4.png", alt="")
						.swiper-button-next
							img(src="./img/right-arrow.png", alt="")
						.swiper-button-prev
							img(src="./img/left-arrow.png", alt="")
				.col-12.col-md-6
					.content-detail
						h2.name-product Lumonsw hsy
						.code-status.d-flex
							.status.d-flex.pr-3
								p.pr-2 Tình trạng:
									span.ml-1 Còn hàng
							p Mã SP:
								span.ml-1 A1
						h4.price Giá thuê:
							span.ml-2.mr-2 1.200.000
							span.text-small VNĐ
						h4.category Category: 
							span Áo cưới
						.share.d-flex
							h6 Chia sẻ:
							ul
								li
									a(href="#")
										i.fa.fa-facebook
								li
									a(href="#")
										i.fa.fa-instagram
								li
									a(href="#")
										i.fa.fa-twitter
						.size-detail
							label.label-custom-detail(for="") Kích thước
							select.select-custom-detail(name="")
								option(value="") M
								option(value="") M
								option(value="") M
						.color-detail
							label.label-custom-detail(for="") Màu sắc
							select.select-custom-detail(name="")
								option(value="") Trắng
								option(value="") Hồng
								option(value="") Vàng
						.rating
							h5 Rating:
							ul.list-rating
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
						.comment
							.top-comment
								h5 0 bình luận
								.sort
									h6.mr-1 Sắp xếp theo
									select(name="")
										option(value="") Mới nhất
										option(value="") Mới nhất
										option(value="") Mới nhất
							.main-comment
								img(src="./img/avt.png", alt="")
								form.comment(action="")
									textarea(name="", rows="3", placeholder="Thêm bình luận...")
									.post-comment
										.post-fb
											.input-checkbox.d-flex.align-items-center
												input.form-check.mr-1(type="checkbox", name="")
												label.m-0(for="") Cũng đăng lên facebook
											p.m-0.d-block Viết thêm 6 ký tự để đăng lên facebook
										button(type="submit") Đăng
	section.heart-beautiful
		.img-heart
			img(src="./img/heart.svg", alt="")
	section.related-products
		.container
			.row
				.col-12
					h3.text-center Sản phẩm liên quan
				.col-12
					.products
						.row
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										img.w-100(src="./img/related-products-1.png", alt="")
										figcaption 
											img(src="./img/search-2.png", alt="")
											p.m-0.pr-2.pl-2.price / Giá:
												span 1.500.000 VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										img.w-100(src="./img/related-products-2.png", alt="")
										figcaption 
											img(src="./img/search-2.png", alt="")
											p.m-0.pr-2.pl-2.price / Giá:
												span 1.500.000 VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										img.w-100(src="./img/related-products-3.png", alt="")
										figcaption 
											img(src="./img/search-2.png", alt="")
											p.m-0.pr-2.pl-2.price / Giá:
												span 1.500.000 VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										img.w-100(src="./img/related-products-4.png", alt="")
										figcaption 
											img(src="./img/search-2.png", alt="")
											p.m-0.pr-2.pl-2.price / Giá:
												span 1.500.000 VNĐ
	section.heart-beautiful
		.img-heart
			img(src="./img/heart.svg", alt="")
	section.thank-for-all.text-center
		.container
			.row
				.col-12.d-flex.justify-content-center.flex-column.align-items-center
					.img-logo
						img(src="./img/logo_2.png", alt="")
					h1 Rosy Studio
					h3 Luôn mang đến cho quý khách sự cảm hứng trên từng khung ảnh.
