extends _layout/layout_2

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Khai báo các mixin
block body	
	section.detail-product
		.container
			.row
				.col-12
					.back-link
						a(href="#") Banhang
						a(href="#") Aocuoi
						p 39283
				.col-12.col-md-6
					.image-product
						img.img-fluid(src="./img/detail-1.png", alt="")
					.show-more-albums
						.slide-show-more-albums.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.img-fluid(src="./img/detail-2.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-3.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-4.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-2.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-3.png", alt="")
								.swiper-slide
									img.img-fluid(src="./img/detail-4.png", alt="")
						.swiper-button-next
							img(src="./img/right-arrow.png", alt="")
						.swiper-button-prev
							img(src="./img/left-arrow.png", alt="")
				.col-12.col-md-6
					.content-detail
						h2.name-product Lumonsw hsy
						.code-status.d-flex
							.status.d-flex.pr-3
								p.pr-2 Tình trạng:
									span.ml-1 Còn hàng
							p Mã SP:
								span.ml-1 A1
						h4.price Giá thuê:
							span.ml-2.mr-2 1.200.000
							span.text-small VNĐ
						h4.category Category: 
							span Áo cưới
						.share.d-flex
							h4 Chia sẻ:
							ul
								li
									a.bg-facebook(href="#")
										i.fa.fa-facebook
								li
									a.bg-insta(href="#")
										i.fa.fa-instagram
								li
									a.bg-twitter(href="#")
										i.fa.fa-twitter
						.color-detail
							label.label-custom-detail(for="") Màu sắc:
							select.select-custom-detail(name="")
								option(value="white") Trắng
								option(value="rose") Hồng
								option(value="yellow") Vàng
							.color-option
						.rating
							h5 Rating:
							ul.list-rating
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
								li
									img(src="./img/star-rating.png", alt="")
	section.rose-flower
		img(src="./img/rose-flower.png", alt="")
	section.albums-detail
		.container
			.row
				.col-12
					.title
						h1 Hình ảnh
				.col-12
					.album-items
						ul.row.no-gutters#aniimated-thumbnials
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-1.jpg")
								a(href)
									img(src="img/shop-product-1.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-2.jpg")
								a(href)
									img(src="img/shop-product-2.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-3.jpg")
								a(href)
									img(src="img/shop-product-3.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-4.jpg")
								a(href)
									img(src="img/shop-product-4.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-5.jpg")
								a(href)
									img(src="img/shop-product-5.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-6.jpg")
								a(href)
									img(src="img/shop-product-6.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-7.jpg")
								a(href)
									img(src="img/shop-product-7.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-8.jpg")
								a(href)
									img(src="img/shop-product-8.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-9.jpg")
								a(href)
									img(src="img/shop-product-9.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-10.jpg")
								a(href)
									img(src="img/shop-product-10.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-11.jpg")
								a(href)
									img(src="img/shop-product-11.jpg", alt="")
							li.col-4.col-md-3.col-lg-2(data-src="img/shop-product-12.jpg")
								a(href)
									img(src="img/shop-product-12.jpg", alt="")
				.col-12 
					.commitment.text-center
						h5 Tất cả các hình được chụp tại Rosy Studio
						h5 Đủ các loại áo cưới, kích cỡ và màu sắc
	section.related-products
		.container
			.row
				.col-12
					h1.text-center Sản phẩm tương tự
					div
						img(src="./img/flower-line.png", alt="" class="home-about-us-img-title")
				.col-12
					.products
						.row
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										.img-related
											img.w-100(src="./img/related-products-1.png", alt="")
										figcaption
											h6.name Nuayid
											h6.price 1.500.000
												span VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										.img-related
											img.w-100(src="./img/related-products-2.png", alt="")
										figcaption
											h6.name Nuayid
											h6.price 1.500.000
												span VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										.img-related
											img.w-100(src="./img/related-products-3.png", alt="")
										figcaption
											h6.name Nuayid
											h6.price 1.500.000
												span VNĐ
							.col-12.col-md-6.col-lg-3
								a(href="#")
									figure
										.img-related
											img.w-100(src="./img/related-products-4.png", alt="")
										figcaption
											h6.name Nuayid
											h6.price 1.500.000
												span VNĐ
											
	section.thank-for-all.text-center
		.container
			.row
				.col-12.d-flex.justify-content-center.flex-column.align-items-center
					.img-logo
						img(src="./img/logo_2.png", alt="")
					h1 Rosy Studio
					h3 Luôn mang đến cho quý khách sự cảm hứng trên từng khung ảnh.
