.detail-product
	padding-bottom: 3rem
	background: #fafafa
	.back-link
		padding: 1rem 0
		display: flex
		text-transform: uppercase
		font-size: .8rem
		align-items: center
		justify-content: flex-start
		p 
			margin: 0
		a
			color: #100f0f
			padding-right: .8rem
			position: relative
			&:before
				content: ''
				position: absolute
				width: 1px
				height: 65%
				background: #100f0f
				top: 50%
				right: 4px
				transform: translateY(-50%)
	.show-more-albums
		padding: 2rem 0
		.swiper-button-next,.swiper-button-prev
			background-image: none
			top: 100%
			outline: none
		.swiper-button-prev
			left: 45%
			transform: translateX(-50%)
		.swiper-button-next
			right: 45%
			transform: translateX(50%)
	.content-detail
		.name-product
			color: #969696
			margin: 0
		.code-status
			border-bottom: 1px solid #cbcbcb
			padding: 1rem 0
			font-weight: 600
			.status
				position: relative
				&:before
					content: ''
					position: absolute
					background: #cbcbcb
					height: 90%
					width: 1px
					top: 50%
					right: .7rem
					transform: translateY(-50%)
					display: flex
					justify-content: center
					align-items: center
				p 
					span
						color: #ff0000
			p
				margin: 0
				span 
					color: #cbcbcb
		.price
			padding-top: 2rem
			margin: 0
			color: #6a6a6a
			span 
				color: #000
			.text-small
				font-size: 1.1rem
		.category
			margin: 0
			color: #6a6a6a
			padding: 1.5rem 0
			span 
				color: #000
		.share
			display: flex
			align-items: center
			h4
				margin: 0
				color: #6a6a6a
			ul
				display: flex
				align-items: center
				margin: 0
				padding: 0 0rem 0 1rem
				li 
					list-style-type: none
					padding-right: .5rem 
					a 
						width: 30px
						height: 30px
						border-radius: 50%
						display: flex
						justify-content: center
						align-items: center
						color: #fff
						text-decoration: none
						transition: .3s ease-in-out
						&.bg-facebook
							background: #6d6dff
							&:hover
								background: #fff
								color: #6d6dff
								border: 1px solid #6d6dff
						&.bg-insta
							background: linear-gradient(to bottom left, #f923b9, #e0db39)
							&:hover
								background: linear-gradient(to bottom left, #fff, #fff)
								border: 1px solid darken(#e0db39, 10%)
								i
									background: linear-gradient(to bottom left, #f923b9, #e0db39)
									-webkit-background-clip: text
									-webkit-text-fill-color: transparent
						&.bg-twitter
							background: #6d6dff
							&:hover
								background: #fff
								color: #6d6dff
								border: 1px solid #6d6dff
						i
							display: flex
							justify-content: center
							align-items: center
		.color-detail
			padding: 1rem 0
			display: flex
			align-items: center
			.label-custom-detail
				margin: 0
				color: #6a6a6a
				font-size: 1.5rem
				padding-right: .5rem
			.select-custom-detail
				background: none
				border: none
				outline: none
				-webkit-appearance: none
				font-size: 1.3rem
				font-weight: 500
				padding: 0.5rem 1rem
			.color-option
				width: 20px
				height: 20px
				border: 1px solid #000 
				background: #fff
		.rating
			display: flex
			align-items: center
			border-bottom: 1px solid #cbcbcb
			padding-bottom: 2rem
			h5 
				margin: 0
				color: #6a6a6a
			.list-rating
				display: flex
				align-items: center
				margin: 0
				padding: 0
				li 
					list-style-type: none
					padding: 0 .5rem
.rose-flower
	height: 10px
	display: flex
	justify-content: center
	align-items: center
	img 
		width: 20%
		+media-breakpoint-up(md)
			width: 10%
		+media-breakpoint-up(xl)
			width: 5%
.albums-detail
	padding: 5rem 0 3rem 0
	.title
		h1 
			font-family: CandleScript
			color: #d77c7c
			text-align: center
			margin: 0
	.album-items
		margin: 0 auto
		padding: 2rem 0
		ul
			padding: 0
			li 
				list-style-type: none
		img 
			width: 100%
			border: 1px solid #fff
			height: 114.98px
			object-fit: cover
			object-position: top left
			+media-breakpoint-up(md)
				height: 172.5px
			+media-breakpoint-up(lg)
				height: 155px
			+media-breakpoint-up(xl)
				height: 185px
	.commitment
		color: #b96d5b
.related-products
	background: #fafafa
	padding: 4rem 0
	@extend .home-title-total
	.home-about-us-img-title
		padding: 2rem 0
		+media-breakpoint-only(xl)
			width: 14.2%
		+media-breakpoint-only(lg)
			width: 19.35%
		+media-breakpoint-only(md)
			width: 22.28%
		+media-breakpoint-down(sm)
			width: 37.3%
	h1
		color: #d77c7c
		margin: 0
		font-family: CandleScript
	.products
		a
			text-decoration: none
			figure
				.img-related
					overflow: hidden
					img 
						transition: .3s ease-in-out
				figcaption
					background: #ef8ca7
					display: flex
					align-items: center
					justify-content: space-between
					padding: 1rem
					color: #fff
					h6 
						margin: 0
						text-transform: uppercase
						span 
							padding-left: .3rem
							font-size: .7rem
				&:hover
					img 
						transform: scale(1.2)
						transition: .3s ease-in-out
.thank-for-all
	padding: 3rem 0 4rem 0
	border-bottom: 1px solid #b9b9b9
	margin-bottom: 4rem
	.img-logo 
		position: relative
		width: 100%
		&:before
			content: ''
			position: absolute
			width: 30%
			height: 1px
			background: #b9b9b9
			left: 0
			top: 50%
			transform: translateY(-50%)
		&:after
			content: ''
			position: absolute
			width: 30%
			height: 1px
			background: #b9b9b9
			right: 0
			top: 50%
			transform: translateY(-50%)
		+media-breakpoint-up(md)
			&:before
				width: 40%
			&:after
				width: 40%
		+media-breakpoint-up(lg)
			&:before
				width: 42%
			&:after
				width: 42%
		+media-breakpoint-up(xl)
			&:before
				width: 44%
			&:after
				width: 44%
	h1 
		font-family: CandleScript
		padding: 1rem 0
		margin: 0
		+media-breakpoint-down(sm)
			font-size: 2rem
	h3
		+media-breakpoint-down(sm)
			font-size: 1.3rem
