<!-- ////////////// FOOTER ////////////// -->
footer
	.footer-top
		.container
			.row
				.col-6.col-md-6.col-lg-4.order-3.order-lg-1
					img(src="./img/logo_2.png", alt="")
					p.ez.pt-2 Rosy studio luôn mang đến cho quý khách sự cảm hứng trên từng khung ảnh.
					ul.list-contact
						li
							a(href="#")
								i.fa.fa-facebook
						li
							a(href="#")
								i.fa.fa-envelope
						li
							a(href="#")
								i.fa.fa-instagram
						li
							a(href="#")
								i.fa.fa-twitter
				.col-6.col-md-6.col-lg-2.order-1.order-lg-2
					h5.pb-3 Liên kết
					ul.link
						li
							a(href="#") Giới thiệu
						li
							a(href="#") Liên hệ
						li
							a(href="#") Dịch vụ
						li
							a(href="#") Blog
				.col-6.col-md-6.col-lg-2.order-2.order-lg-3
					h5.pb-3 Hỗ trợ
					ul.link
						li
							a(href="#") Faq's
						li
							a(href="#") Đặt lịch
						li
							a(href="#") Góp ý
						li
							a(href="#") Kế hoạch
				.col-6.col-md-6.col-lg-4.order-4.order-lg-4
					h5.pb-3 Tìm hiểu
					p.pb-2 Theo dõi trang web của chúng tôi để nhận được nhiều ưu đãi tại cửa hàng.
					.form-contact-mail
						input.form-control(type="text" placeholder="Địa chỉ email...")
						button(type="submit") Gửi
	.copyright
		p.m-0 © Copyright 2019 by Newbie. 
