header.header_2
	.container
		.row
			.col-12
				nav.navbar.navbar-expand-lg
					a.navbar-brand(href='#')
						img.img-fluid(src="./img/logo.png", alt="")
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
						//- span.navbar-toggler-icon
						span
							img(src="./img/menu.png", alt="")
					#navbarNav.collapse.navbar-collapse
						ul.navbar-nav.header-customize-padding
							li.nav-item.active
								a.nav-link(href='#') Áo cưới
							li.nav-item
								a.nav-link(href='#') Áo vest
							li.nav-item
								a.nav-link(href='#') Áo phụ dâu
							li.nav-item.logo_2
								a.nav-link.d-flex.justify-content-center.align-items-center(href='index.html')
									img(src="./img/logo_2.png", alt="")
							li.nav-item
								a.nav-link(href='#') Phụ kiện
							li.nav-item
								a.nav-link(href='#') Sản phẩm bán
							li.nav-item
								a.nav-link(href='#') Khác
